<web-app>
<servlet>
<servlet-name>AddDoctorServlet</servlet-name>
<servlet-class>com.hospital.servlet.AddDoctorServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddDoctorServlet</servlet-name>
<url-pattern>/AddDoctorServlet</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>RegisterPatientServlet</servlet-name>
<servlet-class>com.hospital.servlet.RegisterPatientServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RegisterPatientServlet</servlet-name>
<url-pattern>/RegisterPatientServlet</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>BookAppointmentServlet</servlet-name>
<servlet-class>com.hospital.servlet.BookAppointmentServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>BookAppointmentServlet</servlet-name>
<url-pattern>/BookAppointmentServlet</url-pattern>
</servlet-mapping>

</web-app>